<a href="https://colab.research.google.com/github/Gnaruag/Test_world/blob/master/Test_world.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing the libraries

In [ ]:
!pip install alpha_vantage
!pip install colab-env -qU
import colab_env
import time
program_start = time.time()
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from alpha_vantage.timeseries import TimeSeries
import pandas_datareader as pdr

fatal: not a git repository (or any of the parent directories): .git
fatal: not a git repository (or any of the parent directories): .git
Requirement already satisfied: alpha_vantage in /usr/local/lib/python3.6/dist-packages (2.2.0)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.6/dist-packages (from alpha_vantage) (3.6.2)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from alpha_vantage) (2.23.0)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.6/dist-packages (from aiohttp->alpha_vantage) (19.3.0)
Requirement already satisfied: multidict<5.0,>=4.5 in /usr/local/lib/python3.6/dist-packages (from aiohttp->alpha_vantage) (4.7.6)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.6/dist-packages (from aiohttp->alpha_vantage) (1.4.2)
Requirement already satisfied: chardet<4.0,>=2.0 in /usr/local/lib/python3.6/dist-packages (from aiohttp->alpha_vantage) (3.0.4)
Requirement already satisfied: typing-extensions>=3.6.5; python_version < "3.7" in /usr/local/lib/python3.6/dist-packages (from aiohttp->alpha_vantage) (3.7.4.2)
Requirement already satisfied: idna-ssl>=1.0; python_version < "3.7" in /usr/local/lib/python3.6/dist-packages (from aiohttp->alpha_vantage) (1.1.0)
Requirement already satisfied: async-timeout<4.0,>=3.0 in /usr/local/lib/python3.6/dist-packages (from aiohttp->alpha_vantage) (3.0.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->alpha_vantage) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->alpha_vantage) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->alpha_vantage) (2020.6.20)

# Stock ticker

In [ ]:
ticker = 'TSLA'

# Importing dataset

## Importing alpha vantage dataset

In [ ]:
ts = TimeSeries(key=av_key, output_format = 'pandas')
df, meta_data = ts.get_intraday(symbol=ticker, interval='1min', outputsize='full')
df.head()

                     1. open  2. high   3. low  4. close  5. volume
date
2020-07-24 20:00:00   1404.0  1404.00  1401.14   1402.00     3148.0
2020-07-24 19:59:00   1403.9  1403.90  1403.90   1403.90      964.0
2020-07-24 19:58:00   1404.0  1404.39  1403.99   1403.99     1966.0
2020-07-24 19:57:00   1406.0  1406.00  1406.00   1406.00      446.0
2020-07-24 19:55:00   1404.0  1404.00  1404.00   1404.00      352.0

## Importing tiingo dataset

In [ ]:
df2 = pdr.get_data_tiingo(ticker, api_key=tgo_key)
df2.head()

                                   close      high  ...  divCash  splitFactor
symbol date                                         ...
TSLA   2015-07-27 00:00:00+00:00  253.01  264.4321  ...      0.0          1.0
       2015-07-28 00:00:00+00:00  264.82  265.4000  ...      0.0          1.0
       2015-07-29 00:00:00+00:00  263.82  267.8900  ...      0.0          1.0
       2015-07-30 00:00:00+00:00  266.79  266.9400  ...      0.0          1.0
       2015-07-31 00:00:00+00:00  266.15  269.3599  ...      0.0          1.0

[5 rows x 12 columns]